DB_USERNAME=SEU_USERNAME
DB_PASSWORD=SUA_SENHA

SF_ACCOUNT=SUA_CONTA_SNOWFLAKE
SF_USER=SEU_USER_SNOWFLAKE
SF_PASSWORD=SUA_SENHA_SNOWFLAKE
SF_WAREHOUSE=SEU_WAREHOUSE
SF_DATABASE=SEU_DATABASE
SF_SCHEMA=SEU_SCHEMA